include ../mixins/containers.pug
include ../mixins/containers_aph.pug

- var imgAssets = '../assets/games_intro/';
- var defaultBgr = 'backgrounds/tree.png';

// ===================================================== SLIDES =====================================================
+mchapter('Co jsou hry?', imgAssets+'chapter_game.svg')
+mcontainer('Co je to hra?')
	+frameShard.width-880.top-3p.fragment.fade-up
		div A <span class="highlight">game</span> is something you <span class="highlight">play</span>. 
			|Something that is <span class="highlight">fun</span> to play. 
			|A fun is a pleasure with <span class="highlight">surprises</span>. 
			span.highlight-2 (Jesse Schell)
	+frameShard.width-860.top-4p.left-15p.fragment.fade-up
		div A game is an interactive structure of <span class="highlight">endogeneous</span> meaning 
			|that requires player to struggle toward a goal. 
			span.highlight-2 (Greg Costikyan)
	+frameShard.width-860.top-5p.left-30p.fragment.fade-up
		div Games are exercise of control systems, in which there is a contest between powers, confined by 
			|<span class="highlight">rules</span>, producing a disequlibrial 
			|<span class="highlight">outcome</span>. 
			span.highlight-2 (Elliot Avedon)
	+frameShard.width-900.top-6p.left-50p.fragment.fade-up
		div A game is an <span class="highlight">activity</span> defined by rules in which players try 
			|to reach some sort of <span class="highlight">goal</span>. 
			span.highlight-2 (Alexander Galloway)
+frameInbox('Co je to hra?')
	.fill.center
		img.height-300(src=globalAssets+'circle.svg')
	.top-5p.left-40p.text-xl pravidla
	.top-13p.left-24p.text-5xl zábava
	.top-13p.left-58p.text-3xl výsledek
	.top-30p.left-20p.text-4xl konflikt
	.top-30p.left-63p.text-2xl aktivita
	.top-45p.left-18p.text-xs systém
	.top-45p.left-60p.text-6xl cíl
	.top-60p.left-28p.text-md překvapení
	.top-65p.left-57p.text-sm zvědavost
	.top-72p.left-42p.text-xl volba
+frameInbox('Historie hraní')
	div.nopadding.fill.center.absolute
		img.height-900(src=imgAssets+'games_overall_history_cs.svg')
	div.nopadding.fill.center.absolute
		img.height-900(src=imgAssets+'games_overall_history_pic.png')
+frameInbox('Co je to počítačová hra?')
	div.important-orange.spacing-xs
		.scope.fragment
			p Počítačová aplikace
			ul
				li.fragment program, který <span class="highlight-2">pomáhá</span> uživateli provést daný úkol
		.scope.fragment
			p Počítačová hra
			ul
				li.fragment interaktivní počítačový program, kde je primárním prvkem <span class="highlight-2">zábava</span>
		.scope.fragment
			p Gamifikace
			ul
				li.fragment aplikování herních elementů do oblastí, které pro ně nejsou typické, především z důvodu posílení motivace či vztahu k produktu/službě
		.fragment.flex.flex-row.center
			figure.m-20
				img.height-280(src=imgAssets+'habitica.png')
				p Habitica
			figure.m-20
				img.height-280(src=imgAssets+'gather.jpg')
				p Gather.town
	+tipKeen1("Počítačové hry nejsou aplikace. Byť, hranice mezi nimi je tenká.")(class='bottom-0p left-0p')
+mcontainer('Technická definice')
	+frameShard.width-70px.height-20p.top-280.center.z-index-100
		p.text-xl Počítačové hry jsou interaktivní simulátory běžící v reálném čase.
+frameInbox('Herní žánry')(autoAnimate=true)
	.center
		.grid-rows-3.grid-cols-4.grid.gap-10.width-65p
			+gbGame(imgAssets+'genre_arcade.jpg', 'Arkády').fragment#g1
			+gbGame(imgAssets+'genre_shooter.jpg', 'FPS').fragment
			+gbGame(imgAssets+'genre_platformer.jpg', 'Platformery').fragment
			+gbGame(imgAssets+'genre_adventure.jpg', 'Adventury').fragment
			+gbGame(imgAssets+'genre_puzzle.jpg', 'Puzzle').fragment#g4
			+gbGame(imgAssets+'genre_rpg.jpg', 'RPG').fragment
			+gbGame(imgAssets+'genre_strategy.jpg', 'Strategie').fragment
			+gbGame(imgAssets+'genre_casual.jpg', 'Simulace').fragment#g3
			+gbGame(imgAssets+'genre_sports.jpg', 'Sportovní').fragment
			+gbGame(imgAssets+'genre_racing.jpg', 'Závodní').fragment#g2
			+gbGame(imgAssets+'genre_fighting.jpg', 'Bojové').fragment
			+gbGame(imgAssets+'genre_sandbox.jpg', 'Sandboxy').fragment
+frameInbox('Herní kategorie')(autoAnimate=true)
	.center.fill
		.grid.grid-rows-1.grid-cols-4.width-90p
			+floppyApp(imgAssets+'genre_racing.jpg', 'AAA hry')#g1
			+floppyApp(imgAssets+'genre_platformer.jpg', 'Indie hry')#g2
			+floppyApp(imgAssets+'genre_casual.jpg', 'Casual')#g3
			+floppyApp(imgAssets+'genre_puzzle.jpg', 'Hyper casual')#g4
+frameInbox('Herní prostory')(autoAnimate=true)
	.center.fill
		.grid.grid-rows-1.grid-cols-5.width-100p
			+dsGame(imgAssets+'genre_platformer.jpg', '2D')#g1
			+dsGame(imgAssets+'space_isometric.jpg', 'Izometrické 2D')#g2
			+dsGame(imgAssets+'space_fake3D.jpg', 'Pseudo 3D')#g3
			+dsGame(imgAssets+'space_25D.jpg', '2.5 D')#g4
			+dsGame(imgAssets+'genre_racing.jpg', '3D')
- var defaultBgr = 'backgrounds/old_gadgets.jpg';
+frameInbox('Evoluce počítačových her')
	div.nopadding.fill.center.absolute
		img.height-900(src=imgAssets+'games_evolution.svg')
	div.nopadding.fill.center.absolute.top-50
		img.height-700(src=imgAssets+'games_evolution.png')
+frameInbox('Milníky herní historie')
	.center
		img.height-750(src=imgAssets+'games_history_cs.svg')
	.tip.fragment.bottom-20.right-450
		img.height-850(src=globalAssets+'memes/games_then_now.gif')
+frameInbox('Technologie herní historie')
	.center
		img.height-750(src=imgAssets+'tech_history_cs.svg')
