include ../mixins/containers.pug
include ../mixins/containers_aph.pug

- var imgAssets = '../assets/minitalk_exposition/';
- var defaultBgr = 'backgrounds/shadowlands.jpg';

// ===================================================== SLIDES =====================================================
+mchapter('Exposition', imgAssets+'chapter_exposition.svg')
+frameInbox('Exposition')
    .bottom-80.right-0.nopadding.fragment
        img.height-400(src=imgAssets+'lothric_castle.jpg' alt='Lothric castle')
    ul.spacing-lg.top-0
        li.fragment aspect that is used to introduce or describe an important subject to the player
        li.fragment every level should elevate the challenge threshold, while gradually <span class="highlight">exposing player</span> the final challenge
        li.fragment exposition of the subject and its structure is crucial for 
            ul
                li.fragment building up the atmosphere
                li.fragment linking things together: story, objects, environment
                li.fragment story continuity
        li.fragment without a strong exposition, the player might get<br> confused as to what is happening and why
        li.fragment the most common climax - <span class="highlight">boss fight</span>
        li.fragment exposition types: via cutscenes, loading screens,<br> dialogs, discovered artefacts, narrator, manual, environmental storytelling
    .tip.absolute.top-10.left-450.fragment
        img.height-760(src=globalAssets+'memes/cutscenes.jpg')
+frameInbox('Exposition of the main antagonist')
    .fill.center.flex-row.justify-evenly
        figure.fragment
            img.height-400(src=imgAssets+'mario.jpg' alt='Bowser')
            p Super Mario Bros. (1983)
        figure.fragment
            img.height-400(src=imgAssets+'glados.jpg' alt='GLADos')
            p Portal (2007)
+frameInbox('Exposition linked with the story')
    .fill.center.flex-row.justify-evenly
        figure.fragment
            img.height-400(src=imgAssets+'half-life.jpg' alt='Half-life')
            p Half-Life (1998)
        figure.fragment
            img.height-400(src=imgAssets+'fear2.jpg' alt='F.E.A.R. 2')
            p F.E.A.R 2 (2009)
+frameInbox('Exposition linked with the environment')
    .fill.center.flex-row.justify-evenly
        figure.fragment
            img.height-280(src=imgAssets+'prince.jpg' alt='Prince of Persia')
            p Prince of Persia (1990)
        figure.fragment
            img.height-280(src=imgAssets+'shadow_of_the_colossus.jpg' alt='Shadow of the Colossus')
            p Shadow of the Colossus (2005)
        figure.fragment
            img.height-280(src=imgAssets+'ori.jpg' alt='Ori and the blind forest')
            p Ori And The Blind Forest (2015)
+frameInbox('Exposition linked with the game world/level')
    .fill.center.flex-row.justify-evenly
        figure.fragment
            img.height-400(src=imgAssets+'rayman.jpg' alt='Rayman')
            p Rayman Legends (2013)
        figure.fragment
            img.height-400(src=imgAssets+'cuphead.jpg' alt='Cuphead')
            p Cuphead (2017)
+frameInbox('Bossfights in Hellblade: Senua\'s Sacrifice')
    div
        .top-100.left-10
            figure.fragment
                img.height-400(src=imgAssets+'hellblade_garm.jpg' alt='Garm')
                p Garm
        .top-300.left-500
            figure.fragment
                img.height-400(src=imgAssets+'hellblade_surtr.jpg' alt='Surtr')
                p Surtr
        .top-450.right-10
            figure.fragment
                img.height-400(src=imgAssets+'hellblade_valravn.jpg' alt='Valravn')
                p Valravn
+frameInbox('Other ways of exposition')
    div
        .top-100.left-10
            figure.fragment
                img.height-380(src=imgAssets+'other_masseffect.jpg' alt='Mass Effect')
                p Mass Effect (2007)
        .top-300.left-500
            figure.fragment
                img.height-380(src=imgAssets+'other_esther.jpg' alt='Dear Esther')
                p Dear Esther<br>(2012)
        .top-450.right-10
            figure.fragment
                img.height-380(src=imgAssets+'other_misfortune.jpg' alt='Little Misfortune')
                p Little Misfortune (2019)
